{{ define "main" }}
<main>
<article>
    
<!-- social adstera -->
<script type='text/javascript' src='//pl22042766.toprevenuegate.com/c7/ce/ff/c7ceffb6b5aa7eda59605399ccd7a420.js'></script>


<p class="service-text textku">Name : {{ .Title }}</p>
<p class="service-text textku">Type : {{ .Params.type }}</p>
<p class="service-text textku">By   : {{ .Params.by }}</p>

<h2 style="padding-top: 0px;">Download Link</h2>


<!-- my exblog -->
<p><a href="https://duit.exblog.jp">Link 3</a></p>

<a href="{{ .Params.link }}">
<img style="text-align: center; width: 150px; height: auto;" src="/img/download.png" alt="download">
</a>

<!-- mukti banner hill top -->
<script>
(function(phyvu){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = phyvu || {};
s.src = "\/\/feistyswim.com\/bYXDVKsUd.Gwln0nY\/WqdTi\/YLWx5fuSZJXSIW\/mewmg9suKZFUIlskRPFTnUDx\/MJDfc\/2dOuT\/Q\/tXN\/TQEkwnNDzhYs5fNYQV";
s.async = true;
l.parentNode.insertBefore(s, l);
})({})
</script>


</main>
</body>
</html>
{{ end }}
