{{ define "main" }}
  <main>
    <article>

      <!-- 
        - #HERO
      -->
      	
<!-- social adstera -->
<script type='text/javascript' src='//pl22042766.toprevenuegate.com/c7/ce/ff/c7ceffb6b5aa7eda59605399ccd7a420.js'></script>


<section class="service">
<div class="container">
		
	<div class="service-content">
		<div class="hero-content titleku">
<p class="service-text textku">Name : {{ .Title }}</p>
<p class="service-text textku">Type : {{ .Params.type }}</p>
<p class="service-text textku">By   : {{ .Params.by }}</p>
	<p class="hero-subtitle titleku">Download Link</p>
</div>
<div class="hero-content titleku">
<!-- direct link adstera -->
<p><a href="https://www.toprevenuegate.com/gd5tuuna1?key=e4e5da2a8573bf73d2652ee68733d114">Link 1</a></p>
<!-- direct link monetag -->
<p><a href="https://groorsoa.net/4/6866207">Link 2</a></p>
<!-- my exblog -->
<p><a href="https://duit.exblog.jp">Link 3</a></p>
<p><a href="{{ .Params.link }}">Link 4</a></p>
</div>
</div>
</section>

<!-- mukti banner hill top -->
<script>
(function(phyvu){
var d = document,
    s = d.createElement('script'),
    l = d.scripts[d.scripts.length - 1];
s.settings = phyvu || {};
s.src = "\/\/feistyswim.com\/bYXDVKsUd.Gwln0nY\/WqdTi\/YLWx5fuSZJXSIW\/mewmg9suKZFUIlskRPFTnUDx\/MJDfc\/2dOuT\/Q\/tXN\/TQEkwnNDzhYs5fNYQV";
s.async = true;
l.parentNode.insertBefore(s, l);
})({})
</script>


  </main>
</body>
</html>
{{ end }}
